
@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url('FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('FiraSans-SemiBold.otf')  format('opentype'),
	     url('FiraSans-SemiBold.woff') format('woff'), url('FiraSans-SemiBold.ttf')  format('truetype'), url('FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Regular';
  src: url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Regular.otf')  format('opentype'),
	     url('FiraSans-Regular.woff') format('woff'), url('FiraSans-Regular.ttf')  format('truetype'), url('FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Light';
  src: url('FiraSans-Light.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Light.otf')  format('opentype'),
	     url('FiraSans-Light.woff') format('woff'), url('FiraSans-Light.ttf')  format('truetype'), url('FiraSans-Light.svg#FiraSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Book';
  src: url('FiraSans-Book.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Book.otf')  format('opentype'),
	     url('FiraSans-Book.woff') format('woff'), url('FiraSans-Book.ttf')  format('truetype'), url('FiraSans-Book.svg#FiraSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Bold';
  src: url('FiraSans-Bold.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Bold.otf')  format('opentype'),
	     url('FiraSans-Bold.woff') format('woff'), url('FiraSans-Bold.ttf')  format('truetype'), url('FiraSans-Bold.svg#FiraSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue.woff') format('woff'), url('HelveticaNeue.ttf')  format('truetype'), url('HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  src: url('HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-CondensedBlack.woff') format('woff'), url('HelveticaNeue-CondensedBlack.ttf')  format('truetype'), url('HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Medium';
  src: url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Medium.otf')  format('opentype'),
	     url('FiraSans-Medium.woff') format('woff'), url('FiraSans-Medium.ttf')  format('truetype'), url('FiraSans-Medium.svg#FiraSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

